input.ng-pristine.ng-touched.ng-invalid {
    border: 1px solid red;
}
input[type="text"] , input[type="password"] {
    background-color: rgb(231, 173, 118);
}


.container{
    background: transparent;
    color: white;
    align-items: center;
    
    
}

.form{
    /* background: transparent; */
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    
}

.btn{
    background-color: rgb(205, 105, 12);
    color:white

}
::placeholder
{
    color:white;
}